# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


Hacer:
-Mover logica afuera de app (usar homepage), hacer que points no se vea siempre.

-Arreglar error en firebase que me dice que los valores del context no existen.
necesito hacer la logica del envio de docs en el context directamente, importo la funcion desde firebasejs

-Hacer que los puntos traidos de firestore se usen para dar el valor inicial al estado points, buscar la manera
de mover el estado de points al componente game. 

-hacer que la funcion getPointsFromDatabase solo se ejecute una vez, hacer la comprobacion de si el usuario esta logueado no. No dejar que la funcion tape el funcionamiento del juego.

-Agregar skeleton loader, buscar la manera de implementar sweet alert o alguna libreria de estilado.
-Que el usuario vea siempre mas alla de la navbar si esta como guest o si esta logueado.

https://react-js-rock-paper-scissors-game-ji6h1k10h.vercel.app/

https://github.com/codebucks27/ReactJs-rock-paper-scissors-game/blob/main/src/components/Play.js


COLORES:
https://coolors.co/palette/ea698b-d55d92-c05299-ac46a1-973aa8-822faf-6d23b6-6411ad-571089-47126b


https://dribbble.com/tags/leaderboard

https://stock.adobe.com/ar/search?k=digital+leaderboard&asset_id=533766568

https://www.svgrepo.com/svg/446527/avatar