
.icons{
    width: 50px;
    height: 50px;
}




.options_container {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: 40px;
}
.items{
    height: 270px;
}
.triangleContainer{
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: center;
    width: 100%;
}
.triangle{
    width: 300px;
    height: 250px;
}

.topContainer{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40%;
    margin-bottom: 10px;
    bottom: 15px;

}
.bottomCircle{
    position: relative;
    display: flex;
    justify-content: center;
    top: 70px;
    
}
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
  }
  
  .circle1-container {
    box-shadow: inset 0 5px 6px grey, 0 8px #C05299;
    border: 10px solid #EA698B;
 
  }
  
  .circle2-container {
    box-shadow: inset 0 5px 6px grey, 0 8px #C05299;
    border: 10px solid #EA698B;
    
  }
  
  .circle3-container {
    box-shadow: inset 0 5px 6px grey, 0 8px #C05299;
    border: 10px solid #EA698B;
   
  }
  
 