
.header{
  color: white;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px; 
  left: 0;
  z-index: 150;
  margin-bottom: 200px;
  border-bottom: 2px solid white;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 60px;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  background: #E9547B;
  

  position: fixed; 
  top: 72px;
  width: 100%;
  padding: 20px 0;
  /* height: calc(100% - 60px); */
  height: 70%;
  overflow-y: auto;
  left: 100%;
  /* left: 0; */
  transition: left 0.3s;
  z-index: 1;

}

.nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: linear-gradient(180deg, rgba(56,12,85,1) 20%, rgba(72,21,106,1) 47%, rgba(87,16,137,1) 70%);

 
}
.nav-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  border-bottom: 2px solid white;
}




.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: block;
  cursor: pointer;
}
.nav-menu_visible{
  left: 0;
  

}
.logoNav{
  display: none;
  flex-direction: column;
  line-height: 1;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  
}

@media (min-width: 1000px){

  .header{
      background-color: unset;
      color: white;
      height: 0px;
      position: static;
      width: 100%;
      left: 0;
      z-index: 150;
      transition: 400ms ease-in-out;
      margin-bottom: 200px;
  }
  .header-active{
      background-color: #00000081;
      backdrop-filter: blur(20px);
      box-shadow: 0 20px 30px rgba(0,0,0,0.15);
  }
  
  .logo{
      font-size: 40px;
      font-weight: bold;
      padding: 0 20px;
      line-height: 75px;
  }
  .nav-toggle{  
      display: none;
  }
  .nav-menu{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      list-style: none;
      margin: 0;
      background-color: unset;
      background: linear-gradient(180deg, rgba(56,12,85,1) 20%, rgba(72,21,106,1) 47%, rgba(87,16,137,1) 70%);
  border-bottom: 2px solid rgb(255, 255, 255);
      position: static;
      top: 0;
      width: 100%;
      padding: 0;
      height: 130px;
      overflow-y: auto;
      left: 0;
      transition: left 0.3s;
  }
  .nav-menu li{
    margin: 0 12px;
  }
  .nav-menu span{
    margin: 0 60px;
  }
 /*  .nav-menu_active{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      background-color: #2081ff81;
      position: fixed;
      top: 0;
      width: 100%;
      padding: 0;
      height: 15%;
      overflow-y: auto;
      left: 0;
      transition: left 0.3s;
  } */
  .nav-menu_visible{
      left: 100;
  }   
  .nav-menu-link{
      /* margin: 0 30px; */
      padding: 0 10px;
  }
  .logoNav{
    display: flex;
    font-size: 30px;
  }
.nav-menu-item{
  border-bottom: none;
}

.navbar-link-style {
  color: white;
  position: relative;
  text-decoration: none;
}

.navbar-link-style::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #E9547B;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-link-style:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
}