
.infoDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #8f30d2;
    border-bottom: 2px solid #8f30d2;
    height: 70px;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
    font-size: 19px;
    margin-left: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.iconUser{
    width: 60px;
    height: 60px;
}
.iconDisplay{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.textboxNavbar{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.textboxNavbar span{
    margin: 3px 0;
}
.scoreNavbar{
    color: #EA698B; 
    text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
    .infoDisplay{
        height: 90px;
    }
    .iconUser{
        width: 70px;
        height: 70px;
    }
    .iconDisplay{
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 50%;
    }
    .textboxNavbar{
        padding: 0 14px;
    }
    .textboxNavbar span{
        margin: 3px 0;
    }
    .scoreNavbar{
        color: #EA698B; 
        text-decoration: underline;
    }




}