.account{
    display: flex;
    justify-content: center;
}
.accountPanel{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.accountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  
}
.accountPanel{
    background-color: #C05299;
    padding: 20px 0;
    width: 95%;
    border-radius: 7px;
    margin-top: 60px;
    
}
.avatarAccount{
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
 .avatarAccount img{
    height: 100%;

} 
.greetingsTitle{

    color: white;
    text-align: center;
}
.accountContainer h1{
    font-size: 27px;
    margin-top: 10px;
    color: #571089;
}
.accountData{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.accountData p{
    margin: 12px 0;
}

.btnAccount{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    

}
.btnAccount button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: snow;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 110px;
    right: 15px;
    

}


.userPanel{
    margin-top: 20px;
    
}
.avatarPanelTitle{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
}
.userPanel div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 25px;
}
.userPanel button{
    display: block;
    margin: auto;
    width: 130px;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #571089;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
.avatarPanel{
    width: 80px;
    height: 80px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.avatarPanel:hover{
    scale: 105%;
}
.disabledButtonText{
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 10px;
}
@media only screen and (min-width: 1000px) {
    .account{
        display: flex;
        justify-content: center;
                
    }
   
    .accountPanel{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        background-color: #C05299;
        width: 1300px;
        
        border-radius: 10px;
        padding: 50px 0;
    }
    .accountContainer h1{
        font-size: 27px;
        margin-top: 10px;
        color: #571089;
    }
    .userPanel{
        width: 500px;
        border-left: 2px solid white;
        padding: 0px 10px;
    }
    
    .avatarPanelTitle{
        color: white;
        font-size: 24px;
        text-align: center;
        margin-bottom: 18px;
        text-decoration: none;

    }
    .accountData p{
        margin: 5px 0;
        font-size: 20px;
    }
    .btnAccount button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        background-color: snow;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        top: 110px;
        right: 320px;
        
    }
    .disabledButtonText{
        font-size: 14px;
        text-decoration: none;
        color: white;
        text-align: center;
        margin-top: 10px;
        font-style: italic;
    }
    


}